[submodule "singularity/sra/getreads"]
	path = singularity/sra/getreads
	url = git@github.com:telatin/getreads.git
[submodule "singularity/quantification/circRnaQuant/CIRIquant"]
	path = singularity/quantification/circRnaQuant/CIRIquant
	url = git@github.com:bioinfo-biols/CIRIquant.git
[submodule "singularity/alignment/circrna"]
	path = singularity/alignment/circrna
	url = git@github.com:rreggiar/circrna.git
[submodule "singularity/alignment/R-SPLASH"]
	path = singularity/alignment/R-SPLASH
	url = git@github.com:refresh-bio/R-SPLASH.git
