
<div id="Page2">
  {% include "templates/navbar.html.j2" %}
  <div class="container">
    <div id="clust-warning" class="col-md-4">
      <p>
        Clustering encountered issues and failed to complete for this sample.
        Please check your log files for more information or contact
        <a href="mailto:support@parsebiosciences.com"
          >support@parsebiosciences.com.</a
        >
      </p>
    </div>
  </div>
</div>

